
body {
    background-image: url(KHCB/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    animation-name: body;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding: 0;
    margin: 0;
}
@keyframes body{
    0%{background-image: url(KHCB/background1.jpg);}
    50%{background-image: url(KHCB/background2.jpg); }
    100%{ background-image: url(KHCB/background3.jpg);}
}
/*HEADERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR*/
header {
    background-color: #eed1e3;
    color: #000000;
    width: 100%;
    height: 100px;  
    position: fixed;
    z-index: 1;   
}

.header-content {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*style cua phan tieu de san pham*/
#main-menu {
    display: flex;
    list-style: none;
}

#main-menu li{
    position: relative;
}

#main-menu li a {
    color: #000000;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
}

#main-menu li a:hover {
    color: #008000; /* Màu xanh lá */
    text-decoration: underline; /* Gạch chân */
}

#main-menu ul.sub-menu {
    position: absolute;
    background-color: #deb0dc;
    padding: 15px 0px;
    list-style: none;
    width: 150px;
    border: 1px solid #deb0dc;
    display: none;
}

#main-menu li:hover>ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a {
    padding: 1px 1px;
    border-bottom: 1px solid #0c7303;
}

#main-menu ul.sub-menu li:hover a {
    border-bottom: 5px solid #d77e19; 
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

#main-menu ul li:hover a {
    color: green;
}

.container-tt {
    display: flex; /* Sử dụng flexbox để sắp xếp các phần tử con */
    justify-content: space-around; /* Sắp xếp đều các phần tử trong container */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    padding: 20px; /* Khoảng cách giữa container và các phần tử con */
}

.logo img {
    width: auto;
    height: auto;
}


.name{
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
    background: none;
    transition: font-size 2s, color 2s;
    animation-name: name;
    animation-duration: 4s;
    animation-direction: alternate;
    text-align: center;
    align-items: center;
}
@keyframes name{
    0%{ font-size: 50px; color: white; }
    50%{ font-size: 70px; color:#c8a482; }
    100%{ font-size: 50px; color: white;}
}
#trungbay{
    background-color: none;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 80%;
    display: flex;
}
.container{
    padding: 100px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.item{
    height: 400px;
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.item img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    object-fit: fill;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.image-info{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(100%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    width: 70%;
    height: 50%;
    transition: transform 0.3s ease-in-out;
}
.item:hover img{
    transform: scale(0.9);
}
.item:hover .image-info{
    transform: translateY(-50%) translateX(0);
}
.image-info t{
    font-size: 40px;
    font-style: italic;
    text-shadow: rgb(42, 252, 0) -1px -2px 0.5em;
    animation: blinker 2.5s linear infinite;
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}
.soluong{
    border-radius: 4px;
    box-sizing: content-box;
    display: inline-block;
    min-width: 152px;
    width: auto;
}
.quantity-control {
    display: flex;
    align-items: center;
}
.quantity-control label {
    margin-right: 10px;
}
  
.quantity-control input[type="number"] {
    width: 40px;
    padding: 2px;
    text-align: center;
}
.btn-add-to-cart {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #33FF66;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow:hidden;
    box-shadow: 0 5px #999;
}
.btn-add-to-cart:hover {
    background-color: green;
}
.btn-add-to-cart:active {
    background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.body5{
    margin-top: 600px;
    padding: 0px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(231, 223, 223, 0.953);
}

.child_B5{
    margin-left: 20px;
    padding-left: 40px;
    border-left: 1px solid  #0e5e0e; 
    /* font-family: 'Satisfy', cursive; */
    font-family: 'Brush Script MT', cursive;
    color: #0e5e0e;
    font-size: 19px;
    justify-content: center; 
    align-items: center; 
}

footer {
    margin-top: 50px;
    margin-left: 30px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.div1, .div2, .div3 {
    margin-left: 130px;
    text-align: left;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.div6 {
    text-align:center; 
    width: 100%;
    height: 100%;
    background-color: white;
}
