.main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: space-between;
    margin: auto;
  }

  header {
    /* background-color: #eed1e3; */
    background-image: url('hoa_images/bg7.png');
    background-size: cover;
    color: #000000;
    width: 100%;
    height: 100px;  
    top: 0px;
    position: fixed;
    z-index: 2;   
}

.header-content {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex; /* Sử dụng flexbox để sắp xếp các phần tử con */
    justify-content: space-around; /* Sắp xếp đều các phần tử trong container */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    gap: 20px; /* Khoảng cách giữa các phần tử con */
    padding: 20px; /* Khoảng cách giữa container và các phần tử con */
}

/* Định kiểu cho các nút trong container */
.container button {
    border: none; /* Loại bỏ viền của nút */
    padding: 0; /* Loại bỏ padding của nút */
}

.container .section {
    width: 300px; /* Đặt chiều rộng cố định cho mỗi section */
    height: 300px; /* Đặt chiều cao cố định cho mỗi section */
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
    flex-direction: column; /* Sắp xếp nội dung theo cột */
    align-items: center; /* Căn giữa nội dung theo chiều ngang */
    justify-content: center; /* Căn giữa nội dung theo chiều dọc */
    text-align: center; /* Căn giữa văn bản */
    background-color: rgba(180, 88, 169, 0.125); /* Màu nền cho mỗi section */
    border-radius: 10px; /* Làm tròn các góc */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
    transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi kích thước khi di chuột qua */
    
}

.container .section:hover {
    transform: scale(1.05); 
}

.container .section img {
    width: 200px;
    height: 200px; 
    border-radius: 10px; 
    max-width: 200px; /* Đặt chiều rộng tối đa của div là 200px */
    max-height: 200px; /* Đặt chiều cao tối đa của div là 200px */
    overflow: hidden;
}

.container .section h2 {
    margin-top: 10px; 
    font-size: 18px; 
}


.logo img {
    width: auto;
    height: auto;
}

#main-menu {
    display: flex;
    list-style: none;

}

#main-menu li{
    position: relative;
}

#main-menu li a {
    color: #000000;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
}

#main-menu li a:hover {
    color: #008000; 
    text-decoration: underline; /* Gạch chân */
}

#main-menu ul.sub-menu {
    position: absolute;
    background-color:lightsalmon;
    padding: 15px 0px;
    list-style: none;
    width: 150px;
    border: 1px solid #deb0dc;
    display: none;
}

#main-menu li:hover>ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a {
    padding: 1px 1px;
    border-bottom: 1px solid #0c7303;
}

#main-menu ul.sub-menu li:hover a {
    border-bottom: 5px solid #d77e19; 
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

#main-menu ul li:hover a {
    color: green;
}

.body1 {
  height: 700px;
  margin: 0px;
  background-image: url('pictures/nen1.jpg');
  background-size: cover;
}

.contentB1{
  width: 100%;
  margin-left: 200px;
  margin-top: 250px;
  position: absolute;
  font-size: 65px;
  font-family: Courier;
  color:#000000;
  font-weight: bolder;
  
}

.contentB1 > div:first-child {
  text-align: left;
  width: 100%;
}

.contentB1 > div:last-child {
  margin-top: 30px;
  margin-left: 50px;
  text-align: right;
  width: 80%;
}

  .body2 {
    width: 100%;
    height: 150px;
    position: relative;
  }
  
  .bb2 {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 2;
    width: 300px;
    height: 100px;
    font-size: 14px;
    font-family: Courier;
    color: #0e5e0e;
  }
  
  .body3 {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }
  
  .cenb3 {
    width: 75%;
    height: 600px;
    background-color: wheat;
    background-image: url('pictures/cenB3.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentB3{
    width: 50%;
    position: absolute;
    font-size: 40px;
    font-family: Courier;
    
  }
  
  .leftB3 {
    width: 4%;
    height: 800px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: upright;
    justify-content: center;
    align-items: center;
    font-family: Courier;
    color: #0e5e0e;
  }
  
  .leftB3 p {
    margin: 0;
  }
  
  .bottom_right_b3 {
    position: absolute;
    right: 80px;
    bottom: -350px;
    height: 400px;
    width: 700px;
    background-size: cover;
  }
  
  .bottom_right_b3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.body4 {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 300px;
  background-image: url('pictures/1.jpg');
  background-size: cover;
  animation: nen 20s infinite linear;
}

@keyframes nen {
  0% {
      background-image: url('pictures/4.jpg');
   }
  25% {
      background-image: url('pictures/tim1.jpg');
  } 
  50% {
      background-image: url('pictures/tim2.png');
  }
  75% {
      background-image: url('pictures/tim3.avif');
  }
  100% {
      background-image: url('pictures/tim4.png');
  }
}
   
.headB4 {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 200px;
  color: #0e5e0e;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Tahoma;
}

.cenb4 {
  margin-left: 70px;
  width: 90%;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  align-items: center;
  top: 150px;
  left: 80px;
}

.item {
  width: 300px;
  height: 300px;
  text-align: center;
  position: relative;
  display: inline-block;
}

.item .overlay {
  background-color:#333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  mix-blend-mode:hard-light;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:hover .overlay {
  opacity: 1;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-content{
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color:aliceblue;
  font-weight: bold;

}

.group-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.group-popup.visible {
  display: block;
}

.popup-content {
  background-color: #fefefe;
  margin-top: 13%;
  margin-left: 20%;
  padding: 20px;
  border: 5px solid Aquamarine;
  border-radius: 20px;
  width: 60%;
  position: relative;
  /* overflow: auto; */
}

.infor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infor img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.infor-write {
  position: absolute;
  margin-top: -44%;
  margin-left: 50%;
  margin-bottom: 50%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

name {
  text-align: center;
  margin: 0;
  font-size: 25px;
  color: #0e5e0e;
}

name a {
  text-decoration: none;
  color: #0e5e0e;
}


  .body5{
    margin-top: 430px;
    padding: 0px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .child_B5{
    margin-left: 40px;
    padding-left: 40px;
    border-left: 1px solid  #0e5e0e; 
    font-family: 'Courier New', monospace;
    color: #0e5e0e;
    font-size: 19px;
    justify-content: center; 
    align-items: center; 
  }

  .body6{
    position: relative;
}

  .headB6{
    margin-left: 50px;
    font-family: 'Courier New', monospace;
    color: #0e5e0e;
    font-size: 35px;
}

  .cen_B6{
    background-image: url('hoa_images/bg6.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

