.main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: space-between;
    margin: auto;
  }

  .head {
    width: 100%;
    margin-left: 40px;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .left_head {
    width: 50%;
  }
  
  .right_head {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .right_head > div {
    margin-left: 100px;
    background-size: cover;
    background-position: center;
    }

  .body1 {
    height: 700px;
    margin: 0px;
    background-image: url('images/bg1.jpg');
    background-size: cover;
  }
  
  .body2 {
    width: 100%;
    height: 150px;
    position: relative;
  }
  
  .bb2 {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 2;
    width: 300px;
    height: 100px;
    font-size: 14px;
    font-family: Courier;
    color: #0e5e0e;
  }
  
  .body3 {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .cenb3 {
    width: 75%;
    height: 600px;
    background-color: wheat;
    background-image: url('images/bg2.jpg');
    background-size: cover;
  }
  
  .leftB3 {
    width: 4%;
    height: 700px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: upright;
    justify-content: center;
    align-items: center;
    font-family: 'Brush Script MT', cursive;
    color: #0e5e0e;
    font-size: 19px;
  }
  
  .leftB3 p {
    margin: 0;
  }
  
  .bottom_right_b3 {
    position: absolute;
    right: 80px;
    bottom: -350px;
    height: 400px;
    width: 700px;
    background-size: cover;
  }
  
  .bottom_right_b3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .body4 {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
  }
  
  .headB4 {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 200px;
    color: #0e5e0e;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Tahoma;
  }
  
  .cenb4 {
    width: 90%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0.1px; 
    position: absolute;
    top: 250px;
    left: 80px;
  }
  
  .item {
    width: 300px;
    height: 300px;
    background-color: red;
    text-align: center;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  name {
    text-align: center;
    margin: 0;
    font-size: 25px;
    color: #0e5e0e;
  }
  
  name a {
    text-decoration: none;
    color: #0e5e0e;
  }

  .body5{
    margin-top: 600px;
    padding: 0px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .child_B5{
    margin-left: 20px;
    padding-left: 40px;
    border-left: 1px solid  #0e5e0e; 
    /* font-family: 'Satisfy', cursive; */
    font-family: 'Brush Script MT', cursive;
    color: #0e5e0e;
    font-size: 19px;
    justify-content: center; 
    align-items: center; 
  }

  .body6{
    margin-top: 50px;
    background-image: url('images/bg3.jpg');
    background-size: cover;
    /* background-color:aqua; */
    padding-top: 10px;
  }
  
   .cenB6 {
    margin-left: 40px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2px; 
    grid-row-gap: 40px; 
    }
    
    .cenB6 > div {
    margin-left: 65px;
    background-size: cover;
    background-position: center;
    }

    .body7{
        background-color:bisque;
    }
    
    .headB7{
        margin-left: 50px;
        /* background-color: blue; */
        font-family: 'Brush Script MT', cursive;
        font-size: 35px;
    }
    .cenB7 {
        margin-left: 43px;
        margin-top: 50px;
        }
        
    
   

  